p { margin: 5px; }
input[type = "text"] { width: 250px; }
/* list item styles */
span { margin-left: 10px; display: inline-block; width: 100px; }
th { background-color: #000088; color:white}
tr:nth-child(odd) { background-color: white;
   border-bottom: 10px solid grey; }
tr:nth-child(even) { background-color: lightblue; 
   border-bottom: 10px solid grey; }
.textInmiddle {text-align:center ; }
.textAlignRight{text-align:right}
span{text-align:right ; margin-left:0px}
strong{font-size:100px}
table{word-wrap: break-word ; table-layout: fixed ;}
