<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhong0413.thecpt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/myicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/myicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJ-li2Kcl9rRogs0eEaYhQSMRlbs1UYGw" />

        <activity
            android:name=".home"
            android:theme="@style/myToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".login"
            android:parentActivityName=".home" />
        <activity
            android:name=".register"
            android:parentActivityName=".login" />
        <activity
            android:name=".account"
            android:parentActivityName=".home" />
        <activity
            android:name=".modify"
            android:label="修改資料"
            android:parentActivityName=".account" />
        <activity
            android:name=".actdetail"
            android:label="活動資訊"
            android:parentActivityName=".resulttable" />
        <activity
            android:name=".backcover"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".choice"
            android:label="選擇旅程"
            android:parentActivityName=".mode" />
        <activity
            android:name=".exhibidetail"
            android:label="活動資訊"
            android:parentActivityName=".actdetail" />
        <activity
            android:name=".forgetdialog"
            android:theme="@style/myDialog" />
        <activity
            android:name=".history"
            android:label="最新活動"
            android:parentActivityName=".home" />
        <activity
            android:name=".MapActivity"
            android:label="地圖"
            android:parentActivityName=".actdetail" />
        <activity
            android:name=".mode"
            android:label="選擇模式"
            android:parentActivityName=".home" />
        <activity
            android:name=".resulttable"
            android:label="搜索結果"
            android:parentActivityName=".choice" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".allhistory"
            android:label="歷史紀錄"
            android:parentActivityName=".home" />
        <activity
            android:name=".actdiary"
            android:label="歷史紀錄"
            android:parentActivityName=".allhistory" />
        <activity
            android:name=".speciailAct"
            android:label="優惠活動"
            android:parentActivityName=".home" />
        <activity
            android:name=".actdetailsp"
            android:label="優惠活動"
            android:parentActivityName=".speciailAct" />
        <activity
            android:name=".discountarea"
            android:label="優惠卷商城"
            android:parentActivityName=".home" />
        <activity
            android:name=".coupondetail"
            android:label="優惠卷"
            android:parentActivityName=".discountarea" />
        <activity
            android:name=".leavesSave"
            android:label="葉子撲滿"
            android:parentActivityName=".home" />
        <activity
            android:name=".qrcode"
            android:label="QR Code掃描"
            android:parentActivityName=".leavesSave" />
        <activity
            android:name=".mydicount"
            android:label="我的優惠卷"
            android:parentActivityName=".discountarea" />
        <activity
            android:name=".couponQrcode"
            android:label="QR Code掃描"
            android:parentActivityName=".mydicount"></activity>
    </application>

</manifest>